<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="2BSecret"
    Language="1038"
    Version="0.4.0"
    Manufacturer="2BDeV Studio"
    UpgradeCode="07d75c4c-658b-4e79-8c39-c0d2298be04a">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Description="2BSecret - recipient-locked file encryptor"
      />

    <Icon Id="AppIconn.ico" SourceFile="wix\AppIconn.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIconn.ico" />

    <MajorUpgrade
      AllowDowngrades="no"
      DowngradeErrorMessage="A newer version of 2BSecret is already installed."
      />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="wix\eula_hu.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="2BSecret" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="2BSecret" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpMainExe" Guid="027b766f-35b3-4fcf-ad6b-99ace6b1a7f4" Win64="yes">
        <File
          Id="filMainExe"
          Source="$(var.CargoTargetBinDir)\twobsecret.exe"
          Name="2bsecret.exe"
          KeyPath="yes"
          Checksum="yes"
          />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="cmpStartMenuShortcut" Guid="ea2596c9-2f81-474a-b6fa-93e415a2d970">
        <Shortcut
          Id="StartMenuShortcut"
          Name="2BSecret"
          Description="2BSecret - recipient-locked file encryptor"
          Target="[INSTALLFOLDER]2bsecret.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIconn.ico"
          />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\2BDeV_Studio\2BSecret"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes"
          />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="cmpDesktopShortcut" Guid="e4cef068-e9cd-4e9f-acb6-9c43ac842bdb">
        <Shortcut
          Id="DesktopShortcut"
          Name="2BSecret"
          Description="2BSecret - recipient-locked file encryptor"
          Target="[INSTALLFOLDER]2bsecret.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIconn.ico"
          />
        <RegistryValue
          Root="HKCU"
          Key="Software\2BDeV_Studio\2BSecret"
          Name="desktop"
          Type="integer"
          Value="1"
          KeyPath="yes"
          />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="2BSecret" Level="1">
      <ComponentRef Id="cmpMainExe" />
      <ComponentRef Id="cmpStartMenuShortcut" />
      <ComponentRef Id="cmpDesktopShortcut" />
    </Feature>

  </Product>
</Wix>